:root {
  --color-primary: #3366ff;
  --color-border: #ccc;
  --radius: 5px;
  --transition: 0.2s ease;
}
* {
  box-sizing: border-box;
}

html,
body {
  touch-action: pan-x pan-y;
  overscroll-behavior-x: none;
}

.dp-clear {
  display: none !important;
}

body {
  height: 100vh;
  background-color: #f5f5f5 !important;
  margin: 0;
  background-image: url(/img/banner.png);
  background-size: cover;
  background-position: center;
}

.card-body {
  display: flex;
  flex-direction: column;
}
.mt-input {
  margin-bottom: 15px;
}

/* hide the page title while the keyboard is open */
body.keyboard-open #page2 > h2.text-heading {
  display: none;
}

body.keyboard-open {
  align-items: flex-start;
}

.form-control {
  padding: 6px 23px !important;
  height: 54px;
  border: 1px solid #ffffff !important;
  font-size: 20px !important;
  border-radius: 30px !important;
}
/* ============== Giao diện container =============== */
.dk-container {
  display: flex;
  width: 100%;
  height: 100vh; /* hoặc đặt chiều cao phù hợp */
}
.left-ad,
.right-ad {
  width: 150px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-ad img,
.right-ad img {
  max-width: 100%;
  height: auto;
}

.main-content {
  flex: 1;
  background: linear-gradient(#b2d8ff, #e6f2ff); /* màu nền tùy chỉnh */
  align-items: center;
  display: flex;
}


/* ============== Giao diện đăng ký =============== */
#page1 {
  width: 95%;
  background: transparent !important;
}

#page2, #pageQR, #pageDichVu, #pageXacNhan,#page2DV  {
  width: 100%;
  padding: 0.5rem;
  transition: margin-top 0.2s ease;
}


.text-heading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  color: #004aad;
  text-align: center;
  border-radius: 0.5em;
}

.des {
  text-align: center;
  color: #ed1c24;
  font-size: 30px;
   font-weight: bold;
   text-transform: uppercase;
}

/* ============== Giao diện nút đăng ký =============== */
.btn-nut {
  display: inline-block;
  padding: 15px 0px;
  margin: 20px 3%;
  border: none;
  border-radius: 50px;
  position: relative;
  box-shadow: 2px 1px 4px #000;
  background-color: #888;
  cursor: pointer;
  transition: transform 0.1s, background-color 0.1s;
}

.btn-nut > div {
  font-size: 40px;
  letter-spacing: 0.1em;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6), 0 4px 8px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  color: #fff;
  transition: transform 0.1s, color 0.1s;
}

.btn-nut:hover {
  transform: scale(1.025);
}

.btn-nut::before,
.btn-nut::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  transition: box-shadow 0.1s;
  pointer-events: none;
}

.btn-nut:active {
  transform: scale(1) !important;
}

.btn-nut:active > div {
  transform: scale(0.975);
  color: #ddd;
}

.btn-dangKy {
  background-color: #00bf63;
}

.btn-dangKy::before {
  box-shadow: inset 2px -5px 20px #2e7d32;
}

.btn-dangKy::after {
  box-shadow: inset -2px 5px 20px #a5d6a7; 
}

.btn-dangKy:active {
  background-color: #388e3c;
}
.btn-dangKy:active::before {
  box-shadow: inset 2px -5px 20px #a5d6a7; 
}
.btn-dangKy:active::after {
  box-shadow: inset -2px 5px 20px #2e7d32; /
}

.btn-luu {
  background-color: #a0caef;
  color: white;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Segoe UI', sans-serif;
  padding: 14px 40px;
  border: 2px solid #000;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: all 0.2s ease;
  width: max-content;
  margin-right: 20px;
}

.btn-luu:hover {
  background-color: #a0caef; 
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}

.btn-luu:active {
  background-color: #a0caef; 
  transform: scale(0.98);
  box-shadow: inset 0 4px 8px rgba(0,0,0,0.3);
}

/* ============== Form đăng ký =============== */
input {
  caret-color: transparent;
}
input.blinking-cursor {
  caret-color: black;
}

.blinking-cursor {
  animation: blink 1s step-end infinite;
  border-radius: 30px;
}

@keyframes blink {
  50% {
    box-shadow: 0 0 0 3px rgb(194, 9, 9);
  }
  100% {
    box-shadow: 0 0 0 3px rgba(255, 4, 4, 0.759);
  }
}

/* ============== CHECK BOX =============== */
.form-dichVu {
  display: flex;
  justify-content: center;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 60px;
  max-width: 700px;
}

.checkbox-item {
  display: flex;
  align-items: center;
  width: 45%;
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
}

.checkbox-item.full-width {
  width: 100%;
}

.checkbox-item input[type="radio"] {
  appearance: none;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: 2px solid #ccc;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

.checkbox-item input[type="radio"]:checked {
  border-color: #00c853;
  background-color: #00c853;
}

.checkbox-item input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}

.label-text {
  line-height: 1;
}

/* ============== Bàn phím ảo =============== */
.simple-keyboard {
  position: fixed;
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 0;
}

.simple-keyboard.open {
  display: block;
  opacity: 1;
}
/*--------------- Gợi ý chữ dấu*/

.suggestions {
  height: 69px;
}

.suggestions button {
  background: #fff;
  border: 1px solid #b5b5b5;
  padding: 8px 15px;
  border-radius: 5px;
  box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.3);
  margin-right: 7px;
  font-size: 30px;
}

.suggestions button:hover {
  background: #fff;
  border: 1px solid #b5b5b5;
}

.hg-standardBtn span {
  font-size: 30px;
}

/*--------------- Màu ô bàn phím*/
.hg-theme-default {
  background-color: black !important;
}

.hg-button.hg-standardBtn[data-skbtn^="`"],
.hg-button.hg-standardBtn[data-skbtn^="-"],
.hg-button.hg-standardBtn[data-skbtn^="="],
.hg-button.hg-standardBtn[data-skbtn="0"],
.hg-button.hg-standardBtn[data-skbtn="1"],
.hg-button.hg-standardBtn[data-skbtn="2"],
.hg-button.hg-standardBtn[data-skbtn="3"],
.hg-button.hg-standardBtn[data-skbtn="4"],
.hg-button.hg-standardBtn[data-skbtn="5"],
.hg-button.hg-standardBtn[data-skbtn="6"],
.hg-button.hg-standardBtn[data-skbtn="7"],
.hg-button.hg-standardBtn[data-skbtn="8"],
.hg-button.hg-standardBtn[data-skbtn="9"] {
  background-color: #aecae4;
  color: black;
  border: none;
}

.hg-button.hg-standardBtn[data-skbtn="'"],
.hg-button.hg-standardBtn[data-skbtn="."],
.hg-button.hg-standardBtn[data-skbtn="/"],
.hg-button.hg-standardBtn[data-skbtn=";"],
.hg-button.hg-standardBtn[data-skbtn=","],
.hg-button.hg-standardBtn[data-skbtn="\\"],
.hg-button.hg-standardBtn[data-skbtn="["],
.hg-button.hg-standardBtn[data-skbtn="]"],
.hg-button.hg-button-space[data-skbtn^="{space}"],
.hg-button.hg-standardBtn[data-skbtn^="q"],
.hg-button.hg-standardBtn[data-skbtn^="w"],
.hg-button.hg-standardBtn[data-skbtn^="e"],
.hg-button.hg-standardBtn[data-skbtn^="r"],
.hg-button.hg-standardBtn[data-skbtn^="t"],
.hg-button.hg-standardBtn[data-skbtn^="y"],
.hg-button.hg-standardBtn[data-skbtn^="u"],
.hg-button.hg-standardBtn[data-skbtn^="i"],
.hg-button.hg-standardBtn[data-skbtn^="o"],
.hg-button.hg-standardBtn[data-skbtn^="p"],
.hg-button.hg-standardBtn[data-skbtn^="a"],
.hg-button.hg-standardBtn[data-skbtn^="s"],
.hg-button.hg-standardBtn[data-skbtn^="d"],
.hg-button.hg-standardBtn[data-skbtn^="f"],
.hg-button.hg-standardBtn[data-skbtn^="g"],
.hg-button.hg-standardBtn[data-skbtn^="h"],
.hg-button.hg-standardBtn[data-skbtn^="j"],
.hg-button.hg-standardBtn[data-skbtn^="k"],
.hg-button.hg-standardBtn[data-skbtn^="l"],
.hg-button.hg-standardBtn[data-skbtn^="z"],
.hg-button.hg-standardBtn[data-skbtn^="x"],
.hg-button.hg-standardBtn[data-skbtn^="c"],
.hg-button.hg-standardBtn[data-skbtn^="v"],
.hg-button.hg-standardBtn[data-skbtn^="b"],
.hg-button.hg-standardBtn[data-skbtn^="n"],
.hg-button.hg-standardBtn[data-skbtn^="m"] {
  background-color: #aecae4;
  color: black;
}

.hg-button.hg-standardBtn[data-skbtn=".com"],
.hg-button.hg-button-tab[data-skbtn="{tab}"],
.hg-button.hg-button-lock[data-skbtn="{lock}"],
.hg-button.hg-button-shift[data-skbtn="{shift}"],
.hg-button.hg-standardBtn[data-skbtn="@"] {
  background-color: #ffffff;
  color: black;
}

.hg-button.hg-button-enter[data-skbtn="{enter}"] {
  background-color: #ff9800;
  color: #ffffff;
}

.hg-button.hg-button-bksp[data-skbtn="{bksp}"] {
  background-color: #f44336;
  color: #ffffff;
}

.hg-button.hg-standardBtn[data-skbtn^="="],
.hg-button.hg-standardBtn[data-skbtn^="'"],
.hg-button.hg-button-shift[data-skbtn="{shift}"],
.hg-button.hg-button-lock[data-skbtn="{lock}"] {
  display: none;
}

/* 1. Container tổng cho dropdown */
#serviceSelect + .choices {
  width: 100%; /* chiếm đầy chiều ngang cha */
  max-width: 400px; /* giới hạn tối đa */
  margin: 1rem 0; /* khoảng cách trên/dưới */
}


.choices__inner {
  border: 1px solid #ccc !important; 
  border-radius: 30px !important; 
  font-size: 1rem !important; 
  line-height: 1.5 !important; 
  background-color: #fff !important; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05) !important;
  padding: 0px !important;
}

/* 3. Hover / Focus state */
.choices__inner:hover,
.choices__inner.is-focused {
  border-color: #7aa7ff;
  box-shadow: 0 4px 8px rgba(122, 167, 255, 0.2);
}

/* 4. Placeholder */
.choices__placeholder {
  color: #595c5f !important;
  opacity: 1 !important;
}

/* 5. Danh sách option xổ xuống */
.choices__list--dropdown {
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-height: 200px !important;
  overflow-y: auto !important;
  background-color: #fff;
  z-index: 1000;
}

.choices__item--choice {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.choices__item--choice.is-highlighted {
  background-color: #f0f4ff;
}

.choices__item--selectable {
  border-radius: 0.25rem;
  margin: 0.25rem 0.125rem;
  padding: 0.25rem 0.5rem;
}

.choices__button {
  margin-left: 0.25rem;
  color: #555;
}

.choices__list--dropdown::-webkit-scrollbar {
  width: 6px;
}
.choices__list--dropdown::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.choices__item {
  font-size: 20px;
}


.choices[data-type*=select-one] .choices__input {
   font-size: 20px !important;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
    font-size: 20px !important;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
    border-radius: 20px !important;
}

@media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable[data-select-text], .choices__list[aria-expanded] .choices__item--selectable[data-select-text] {
        padding-right: 0px !important;
    }
}